
*.class
Laboratorul 4/.idea/compiler.xml
Laboratorul 4/.idea/jarRepositories.xml
Laboratorul 4/.idea/misc.xml
Laboratorul 4/.idea/vcs.xml
Laboratorul 10/Laborator10/.idea/inspectionProfiles/Project_Default.xml
Laboratorul 10/Laborator10/.idea/dataSources.xml
